<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>ASIK</title>
</head>

<body>
    <div>
        <a href="/home">Home</a>
    </div>
    <h1>Selamat Datang di ASIK</h1>
    <h2>Aplikasi Sistem Integrasi Kesehatan</h2>
    <p>
        <a href="/users"><button>SHOW USERS</button></a>
        <a href="/contacts"><button>SHOW CONTACTS</button></a>
        <a href="/diseases"><button>SHOW DISEASES</button></a>
    </p>
    <table border="4">
        <thead>
            <tr>
                <td>phone</td>
                <td>address</td>
            </tr>
        </thead>
        <tbody>
            <% contacts.forEach(x=>{%>
                <tr>
                    <td>
                        <%= x.phone %>
                    </td>
                    <td>
                        <%= x.address %>
                    </td>
                </tr>

                <%}) %>
        </tbody>
    </table>
</body>

</html>