<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>ASIK</title>
</head>

<body>
    <%- include('partials/navbar') %>

        <div class="container"></div>
        <div class="mt-4 ml-5 mr-5 mb-4">
            <center>
                <h1>User's Contact</h1>
            </center>

            <a href="/contacts/add" class="btn btn-outline-primary">Add Contact</a>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Phone</td>
                        <td>Address</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <% contacts.forEach(x=>{%>
                        <tr>
                            <td>
                                <%= x.phone %>
                            </td>
                            <td>
                                <%= x.address %>
                            </td>
                            <td>
                                <a href="/contacts/delete" class="btn btn-danger btn-sm">Delete</a>
                            </td>

                        </tr>

                        <%}) %>
                </tbody>
            </table>
        </div>
</body>

</html>