<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>ASIK</title>
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="container"></div>
        <div class="mt-4 ml-5 mr-5 mb-4">
            <center>
                <h1>Diseases</h1>
            </center>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Level</td>
                    </tr>
                </thead>
                <tbody>
                    <% diseases.forEach(x=>{%>
                        <tr>
                            <td>
                                <%= x.name %>
                            </td>
                            <td>
                                <%= x.description %>
                            </td>
                            <td>
                                <%= x.level %>
                            </td>
                        </tr>

                        <%}) %>
                </tbody>
            </table>
</body>

</html>