<!DOCTYPE html>
<html lang="en" data-theme="winter">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.46.1/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ASIK</title>
</head>

<body>
    <%- include('partials/navbar') %>

        <div class="container mt-4">

            <center>
              <div class="flex justify-center my-4">
                <h1 class="text-4xl">Selamat datang di ASIK</h1>
              </div>
              <div class="flex justify-center my-4">
                <h1 class="text-xl">Aplikasi Sistem Integrasi Kesehatan</h1>
              </div>
                
                <% if (errors) { %>
                    <div class="alert flex justify-center alert-info  fade show" role="alert">
                      <% errors=errors.split(',') %>
                        <% errors.forEach(el=> { %>
                          <%= el %> <br>
                            <% }) %>
                    </div>
                    <% } %>
            </center>

        </div>
</body>

</html>