<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASIK</title>
</head>
<body>
    <div>
        <a href="/home">Home</a>
    </div>
    <h1>Selamat Datang di ASIK</h1>
    <h2>Aplikasi Sistem Integrasi Kesehatan</h2>
    <p>
        <a href="/users"><button>SHOW USERS</button></a>
        <a href="/contacts"><button>SHOW CONTACTS</button></a>
        <a href="/diseases"><button>SHOW DISEASES</button></a>
    </p>
    
</body>
</html>