<!DOCTYPE html>
<html lang="en" data-theme="winter">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.46.1/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ASIK</title>
  </head>

  <body>
    <div class="hero min-h-screen bg-gradient-to-r from-cyan-200 to-sky-50">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <img
          src="https://namastehallyu.com/wp-content/uploads/2021/06/images-66-1.jpeg"
          class="max-w-sm rounded-lg shadow-2xl w-3/5"
        />
        <div class="w-2/5 mr-16">
          <h1 class="text-5xl text-black font-bold">Selamat Datang di ASIK</h1>
          <h2 class="text-2xl py-2 text-black">
            Aplikasi Sistem Integrasi Kesehatan.
          </h2>
          <p class="py-6 text-black">
            Transparansi dan Kolaborasi Layanan Kesehatan Menuju Indonesia Sehat
          </p>
          <a href="/register"><button class="btn btn-primary mr-2">Sign Up</button></a>
          
          <a
            href="/login"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Login if you already have an account</a
          >
        </div>
      </div>
    </div>
        <%- include("./partials/footer") %>
  </body>
</html>
