<!DOCTYPE html>
<html lang="en" data-theme="winter">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.46.1/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ASIK</title>
</head>

<body>


    <%- include('partials/navbar-landing') %>
    <div class="flex justify-center my-4">
        <h1 class="text-4xl">Selamat datang di ASIK</h1>
      </div>
      <div class="flex justify-center my-4">
        <h1 class="text-xl">Silahkan login</h1>
      </div>
      <div class="flex justify-center">
        <div class="flex card w-3/4 bg-base-100 shadow-xl justify-center">
          <div class="flex justify-center">
            <h2 class="card-title">Form Login</h2>
          </div>
          <div class="flex justify-center w-full pb-20 pt-5">
            <form action="" method="post" autocomplete="off">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="eg: javascript.com"
                        name="username">
                </div>
                <div class="mb-7">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="ex: password123"
                        name="password">
                </div>
                <button type="submit" class="btn btn-outline-primary">Login</button>
                Belum punya akun ? <a href="/register">Daftar disini</a>
            </form>
          </div>
        </div>
      </div>
    
            
                
                   
            
   
        

        </form>
</body>

</html>