<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASIK</title>
</head>
<body>
    <h1>Daftar Yuk</h1>
    <form action="/register" method="post">
        <p>
            <label>Username</label><br>
            <input type="text" name="username">
        </p>
        <p>
            <label>Email</label><br>
            <input type="text" name="email">
        </p>
        <p>
            <label>Password</label><br>
            <input type="text" name="password">
        </p>
        <p>
            <label>Role</label><br>
            <select name="role">
                <option selected disabled>--choose the role--</option>
                <option value="patient">Pasien</option>
                <option value="doctor">Dokter</option>
            </select>
        </p>
        <p>
            <input type="submit" name="Buat Akun">
        </p>
        
    </form>
</body>
</html>