<!DOCTYPE html>
<html lang="en" data-theme="winter">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.46.1/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ASIK</title>
  </head>

  <body>
    <%- include('partials/navbar') %>
    <div class="flex justify-center my-4">
        <h1 class="text-4xl">Symptoms</h1>
      </div>
    <table class="table table-compact w-full">
      <thead>
        <tr>
          <td>Name</td>
          <td>Diseases</td>
        </tr>
      </thead>
      <tbody>
        <% symptoms.forEach(x=>{%>
        <tr>
          <td><%= x.name %></td>
          <td>
            <% let data = x.Diseases.map((el)=>{%> <% return el.name %>
            <%}).join(',\n') %> <%= data %>
          </td>
        </tr>

        <%}) %>
      </tbody>
    </table>
  </body>
</html>
